# Deny access to .htaccess
<Files .htaccess>
    Order Allow,Deny
    Deny from all
</Files>

# Custom error documents
ErrorDocument 404 /errors/404.php
ErrorDocument 403 /errors/403.php

# Disable directory browsing
Options -Indexes

# Hide the contents of directories
IndexIgnore *

# Hide files of type .png, .zip, .jpg, .pdf from listing
IndexIgnore *.png *.zip *.jpg

# Rewrite php
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [NC,L]

RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]