# Deny access to .htaccess
<Files .htaccess>
Order Allow,Deny
Deny from all
</Files>

# Disable directory browsing 
Options -Indexes

# Hide the contents of directories
IndexIgnore *

# Hide files of type .png, .zip, .jpg, .gif and .doc from listing
IndexIgnore *.png *.zip *.jpg *.pdf

# Redirection erreur 404
ErrorDocument 404 /errors/it/404.php